.para1{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 39px; 
 font-weight:700; 
 color: #008600;
 word-wrap: break-word;}
.Style3{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 39px; 
 font-weight:700; 
 color: #0F63D6;
 word-wrap: break-word;}
.Style4{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 39px; 
 font-weight:700; 
 color: #AA7940;
 word-wrap: break-word;}
.Style5{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #F49738;
 word-wrap: break-word;}
.para6{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style7{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #929292;
 word-wrap: break-word;}
.Style8{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #929292;
 word-wrap: break-word;}
.para9{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style10{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 color: #FEFFFF;
 word-wrap: break-word;}
.para11{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style12{font-family:  'YuKyo_Yoko-Bold', 'YuKyokasho Yoko' ;
 font-size: 24px; 
 font-weight:700; 
 color: #8AF8DF;
 letter-spacing: -0.02em; 
 word-wrap: break-word;}
.Style13{font-family:  'YuKyo_Yoko-Bold', 'YuKyokasho Yoko' ;
 font-size: 44px; 
 font-weight:700; 
 color: #FFE020;
 word-wrap: break-word;}
.Style14{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 word-wrap: break-word;}
.Style15{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 38px; 
 font-weight:700; 
 color: #797979;
 word-wrap: break-word;}
.Style16{font-family:  'AlBayan', 'Al Bayan' ;
 font-size: 13px; 
 word-wrap: break-word;}
.Style17{font-family:  'AlBayan', 'Al Bayan' ;
 font-size: 13px; 
 margin:0;
 word-wrap: break-word;}
.Style18{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 color: #323232;
 word-wrap: break-word;}
.Style19{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 24px; 
 word-wrap: break-word;}
.Style20{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 24px; 
 margin:0;
 word-wrap: break-word;}
.Style21{font-family:  'Helvetica' ,sans-serif ;
 font-size: 36px; 
 color: #42378C;
 word-wrap: break-word;}
.Style22{font-family:  'Helvetica' ,sans-serif ;
 font-size: 36px; 
 word-wrap: break-word;}
.Style23{font-family:  'JCHEadA', 'HeadLineA' ;
 font-size: 24px; 
 word-wrap: break-word;}
.Style24{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 word-wrap: break-word;}
.Style25{font-family:  'PlayfairDisplay-Regular', 'Playfair Display' ;
 font-size: 72px; 
 word-wrap: break-word;}
.Style26{font-family:  'OpenSans-Regular', 'Open Sans' ;
 font-size: 18px; 
 color: #414141;
 word-wrap: break-word;}
.Style27{font-family:  'PlayfairDisplay-BoldItalic', 'Playfair Display' ;
 font-size: 30px; 
 font-weight:700; 
 font-style: italic;
 color: #FEFEFE;
 word-wrap: break-word;}
.linkStyle_28{font-family:  'OpenSans-Regular', 'Open Sans' ;
 font-size: 14px; 
 color: #EAEAEA;
 text-decoration: none; 
 /* 1 1 0 #00F900 #EAEAEA #FEFEFE */
 word-wrap: break-word;}
.linkStyle_28:visited{color:#EAEAEA; text-decoration:none;}
.linkStyle_28:hover{color:#FEFEFE; text-decoration:none;}
.linkStyle_31{font-family:  'OpenSans-Regular', 'Open Sans' ;
 font-size: 14px; 
 color: #0432FF;
 text-decoration: none; 
 /* 1 1 0 #00F900 #EAEAEA #FEFEFE */
 word-wrap: break-word;}
.linkStyle_31:visited{color:#FEFB00; text-decoration:none;}
.linkStyle_31:hover{color:#FF2600; text-decoration:none;}
.linkStyle_34{font-family:  'OpenSans-Regular', 'Open Sans' ;
 font-size: 14px; 
 color: #0432FF;
 text-decoration: none; 
 /* 1 1 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_34:visited{color:#FEFB00; text-decoration:none;}
.linkStyle_34:hover{color:#FF2600; text-decoration:none;}
.linkStyle_37{font-family:  'OpenSans-Regular', 'Open Sans' ;
 font-size: 14px; 
 color: #0432FF;
 text-decoration: none; 
 /* 1 1 0 #00F900 #EAEAEA #FFFEFE */
 word-wrap: break-word;}
.linkStyle_37:visited{color:#FEFB00; text-decoration:none;}
.linkStyle_37:hover{color:#FF2600; text-decoration:none;}
.para40{font-size: 0; text-align:left; padding-bottom:4px; margin-top:0px; padding-top:0px;}
.Style41{font-family:  'OpenSans-Italic', 'Open Sans' ;
 font-size: 14px; 
 font-style: italic;
 color: #FEFEFE;
 word-wrap: break-word;}
.Style42{font-family:  'OpenSans-Regular', 'Open Sans' ;
 font-size: 14px; 
 color: #EAEAEA;
 word-wrap: break-word;}
.Style43{font-family:  'OpenSans-Regular', 'Open Sans' ;
 font-size: 14px; 
 margin:0;
 color: #FEFEFE;
 word-wrap: break-word;}
.linkStyle_44{font-family:  'OpenSans-Regular', 'Open Sans' ;
 font-size: 14px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #EAEAEA #FFFEFE */
 word-wrap: break-word;}
.linkStyle_44:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_44:hover{color:#FF2600; text-decoration:underline;}
.Style47{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 30px; 
 font-weight:700; 
 color: #F49738;
 word-wrap: break-word;}
.Style48{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #929292;
 word-wrap: break-word;}
.Style49{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 39px; 
 font-weight:700; 
 color: #F49738;
 word-wrap: break-word;}
.Style50{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}