.para1{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 39px; 
 font-weight:700; 
 color: #008600;
 word-wrap: break-word;}
.Style3{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 39px; 
 font-weight:700; 
 color: #0F63D6;
 word-wrap: break-word;}
.Style4{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 39px; 
 font-weight:700; 
 color: #AA7940;
 word-wrap: break-word;}
.Style5{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #F49738;
 word-wrap: break-word;}
.para6{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style7{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #929292;
 word-wrap: break-word;}
.Style8{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #929292;
 word-wrap: break-word;}
.para9{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style10{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #FEFFFF;
 word-wrap: break-word;}
.para11{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style12{font-family:  'YuKyo_Yoko-Bold', 'YuKyokasho Yoko' ;
 font-size: 24px; 
 font-weight:700; 
 color: #00B2ED;
 letter-spacing: -0.02em; 
 word-wrap: break-word;}
.Style13{font-family:  'YuKyo_Yoko-Bold', 'YuKyokasho Yoko' ;
 font-size: 44px; 
 font-weight:700; 
 color: #FFE020;
 word-wrap: break-word;}
.Style14{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 word-wrap: break-word;}
.Style15{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 38px; 
 font-weight:700; 
 color: #797979;
 word-wrap: break-word;}
.Style16{font-family:  'AlBayan', 'Al Bayan' ;
 font-size: 13px; 
 word-wrap: break-word;}
.Style17{font-family:  'AlBayan', 'Al Bayan' ;
 font-size: 13px; 
 margin:0;
 word-wrap: break-word;}
.Style18{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 color: #323232;
 word-wrap: break-word;}
.Style19{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 24px; 
 word-wrap: break-word;}
.Style20{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 24px; 
 margin:0;
 word-wrap: break-word;}
.Style21{font-family:  'Helvetica' ,sans-serif ;
 font-size: 36px; 
 color: #42378C;
 word-wrap: break-word;}
.Style22{font-family:  'Helvetica' ,sans-serif ;
 font-size: 36px; 
 word-wrap: break-word;}
.Style23{font-family:  'JCHEadA', 'HeadLineA' ;
 font-size: 24px; 
 word-wrap: break-word;}
.Style24{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 word-wrap: break-word;}
.Style25{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 30px; 
 font-weight:700; 
 color: #F49738;
 word-wrap: break-word;}
.Style26{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #929292;
 word-wrap: break-word;}
.Style27{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 39px; 
 font-weight:700; 
 color: #F49738;
 word-wrap: break-word;}
.Style28{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.Style32{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 color: #FEFFFF;
 word-wrap: break-word;}
.Style33{font-family:  'YuKyo_Yoko-Bold', 'YuKyokasho Yoko' ;
 font-size: 24px; 
 font-weight:700; 
 color: #8AF8DF;
 letter-spacing: -0.02em; 
 word-wrap: break-word;}